@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

:root{
  --azul-principal: #252e3e;
  --fondo: #c2c4c7;
  --dorado: #af9661;
  --fuente-principal: "Open Sans", sans-serif;
  --fuente-titulos: "Fredoka", sans-serif;
}

body{
  display: flex;
  align-items: center;
  background: var(--fondo);
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  font-family: var(--fuente-principal);
}

.contenedor_principal{
  display: flex;
  align-items: center;
  width: 95%;
  height: 90vh;
  margin: 0 auto;
  background-color: #F8F8FF;
  border-radius: .5em;
  box-shadow: 6px 6px 12px #565656;
}

/* primer contenedor (inicio) */

.contenido_container {
  width: 75%;
  height: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
  justify-content: center;
}

.slider{
  width: 95%;
  height: 95%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

.slide{
  min-height: 100%;
  max-height: 100%;
  padding: 1rem;
}

.selectores{
  background-color: var(--azul-principal);
  width: 50%;
  margin: 0 auto;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select:none;
}
.selector_li{
  margin: 20% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selector_a{
  text-decoration: none;
  color: #000;
  padding: .5rem;
  border-radius: 4px;
}

.iconos{
  width: 20px;
  height: 20px;
}

#sobre_mí{
  display: grid;
  grid-template-rows: auto auto minmax(20%, 50%);
}

.titulos{
  font-family: var(--fuente-titulos);
  font-size: 4rem;
  text-align: center;
  border-bottom: 1px solid var(--dorado);
  padding: .5rem 0;
  user-select:none;
}

.sub_titulos{
  font-family: var(--fuente-titulos);
  margin:.5rem 0;
}

.texto{
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem;
}

.adicional{
  display: flex;
  align-items: center;
}

.man_imagen{
  width: 40%;
}

.btn_container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 0 2rem;
}

.boton{
  display: flex;
  border: none;
  cursor: pointer;
  padding: 1rem;
  margin: .5rem;
  border-radius: 30px;
  color: var(--dorado);
  background-color: var(--azul-principal);
  font-weight: 600;
  transition: .5s;
  text-decoration: none;
}

.boton:hover{
  color: var(--azul-principal);
  background-color: var(--dorado);
}

.btn_iconos{
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 .5rem;
  transition: .5s;
}

.btn_div{
  display: flex;
  align-items: center;
}

/* segundo contenedor (logo) */

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  height: 100%;
  padding: 1rem;
  background-color: var(--azul-principal);
  border-radius: 0 .5em .5em 0;
  text-align: center;
  user-select:none;
}

.logo_figure{
  height: 50%;
}

.logo_img{
  height: 100%;
}

.nombre{
  font-family: var(--fuente-titulos);
  color: var(--dorado);
  font-size: 2.5rem;
}

.puesto{
  color: var(--fondo);
}

/* segundo contenedor (proyectos)*/

.cartas_container{
  padding: 1rem;
  gap: 1.2rem;
  display: flex;
  justify-content: center;
}

.carta_proyecto{
  position: relative;
  width: 250px;
  height: 300px;
  transition: all .3s ease;
}

.carta_proyecto .img_fondo{
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.carta_proyecto .icono_link{
  position: absolute;
  width: 200px;
  height: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(25%);
  transition: .3s ease;
  opacity: 0;
}

.carta_proyecto:hover{
  transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}

.carta_proyecto::before{
  content: '';
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom,transparent 10%, rgba(0, 0, 0, .5) 50%, rgba(0,0,0) 95%);
  opacity: 0;
  transition: all .3s ease;
  border-radius: 4px;
}

.carta_proyecto:hover::before{
  opacity: 1;
}

.carta_proyecto:hover .icono_link {
  opacity: 1;
  transform: translateY(-5%);
}

.tec_div {
  position: absolute;
  height: 40px;
  width: 100%;
  padding: 5px;
  left: 0;
  top: 0;
}

.icono_tec{
  height: 100%;
}

.btn_div_proyectos{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
}

/* tercer contenedor (habilidades) */

#habilidades{
  display: grid;
  grid-template-rows: 20% 50% 30%;
  align-items: center;
}

.contenedor_grid{
  height: 100%;
  padding: .5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: .5rem;
}

.lista{
  padding: .5rem;
  list-style: none;
  display: grid;
  align-items: center;
  grid-template-rows: fit-content(50%);
  border: 1px solid var(--dorado);
  border-radius: 4px;
  row-gap: .5rem;
}

.contenedor_certificados{
  padding: 1rem;
}

.tec_icono{
  width: 25px;
  margin-right: .5rem;
}

.tec_titulos{
  font-weight: 600;
}

.tecnologia{
  display: flex;
  align-items: center;
}

/* cuarto contenedor (diplomas) */

#diplomas{
  display: grid;
  grid-template-rows: 20% 80%;
}

.diplomas_container{
  height: 100%;
	display: flex;
	align-items: center;
}

.carousel{
  overflow-x: clip;
	white-space: nowrap;
	position: relative;
	width: 100%;
  height: 100%;
  padding: 1rem;
}

.carousel-inner{
  display: flex;
	align-items: center;
	gap: 2vw;
	will-change: transform;
  height: 100%;
}

.diploma{
  height: 100%;
	transition: transform 0.5s;
	flex-shrink: 0;
	width: 100%;
	border-radius: 2rem;
}