@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
  --main-font: 'Quantico', sans-serif;
  --container-color: #0e0914;
}

*{
  margin: 0;
  padding: 0;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #502a7b;
}

.grid-container{
  display: grid;
  grid-gap: 1rem;
  margin: 5rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, auto);
 /*a:sobre mi b:github c:redes d:tecno e:trabajos g:cert h:cv i:reloj*/
  grid-template-areas: "a a a b b c c c"
                       "a a a b b c c c"
                       "a a a e e e e e"
                       "a a a e e e e e"
                       "d d d e e e e e"
                       "g g g h h i i i"
                       "g g g h h i i i";
}

.about-section{
  grid-area: a;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: var(--main-font);
  background-image: url(images/cat.gif);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  border-radius: 5px;
}
.about-section h1{
  font-size: 2rem;
}
.about-section h1, .about-section p{
  margin: .5rem;
}
.about-section p b{
  font-size: 1.2rem;
}

.git-container{
  grid-area: b;
}
.git-section{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  border-radius: 5px;
}
.git-section svg{
  width: 50%;
  height: 50%;
}

.networks-section{
  grid-area: c;
  border-radius: 5px;
  display: grid;
  grid-gap: .5rem;
  align-items: center;
  justify-items: center;
  font-family: var(--main-font);
}
.networks-links{
  display: flex;
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  border-radius: 5px;
  background-color: var(--container-color);
  color: #fff;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.networks-links svg {
  margin: 0 .5rem;
}
.networks-links p{
  margin: 0 .5rem;
}

.tech-section{
  grid-area: d;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  background-image: url(images/code-waterfall.gif);
  border-radius: 5px;
}

.tech-icons{
  width: 65%;
  height: 65%;
}

.proyects-section{
  grid-area: e;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, minmax(15rem, 1fr));
  grid-gap:.5rem;
  font-family: var(--main-font);
}
.proyect-card{
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.proyect-img{
  width: 80%;
  height: 40%;
  margin-top: 2rem;
}
.proyect-card h3{
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
.ico-container{
  display: grid;
  width: 60%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: .5rem;
  justify-items: center;
  margin-bottom: .5rem;
}
.proyect-ico{
  width: 2rem;
  height: 2rem;
}

.certificates-section{
  grid-area: g;
  background-color: var(--container-color);
  border-radius: 5px;
  padding: 10px;
  font-family: var(--main-font);
  color: #fff;
  display: flex;
  justify-content: center;
}
.certificate{
  display: flex;
  font-size: .8rem;
  align-items: center;
}
.text_cert{
  margin-left: .3rem;
  margin-right: .3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text_cert a{
  text-decoration: none;
  color: #fff;
}
.button_cert{
  cursor: pointer;
}
.cert_show{
  background-color: var(--container-color);
  border-radius: 5px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.cert_show img{
  width: 90%;
  height: 90%;
}

.cv-section{
  background-image:url(images/memecat.webp);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
}
.cv-link{
  grid-area: h;
  text-decoration: none;
  color: #fff;
}
.cv-section svg{
  margin: .5rem 0;
  width: 2rem;
  height: 2rem;
}

.clock-section{
  grid-area: i;
  width: 100%;
  height: 100%;
  background-color:	var(--container-color);
  color: #fff;
  border-radius: 5px;
  font-family: var(--main-font);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/*------------------------Media query-----------------------*/
/* Para dispositivos de pantalla extremadamente pequeña (595 px y menos) */
 /*a:sobre mi b:github c:redes d:tecno e:trabajos g:cert h:cv i:reloj*/
@media only screen and (max-width: 599px) {
  .main-container{
    height: 100%;
  }
  .grid-container{
    grid-template-rows: repeat(10, auto);
    grid-template-areas: "i i i i i i i i"
                         "a a a a a a a a"
                         "a a a a a a a a"
                         "d d d d d d d d"
                         "c c c c c c c c"
                         "b b b b b b b b"
                         "e e e e e e e e"
                         "e e e e e e e e"
                         "g g g g g g g g"
                         "h h h h h h h h";
    min-width: 300px;
  }

  .about-section{
    background-position: 30%;
  }

  .tech-section{
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  }

  .proyects-section{
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  }

  .networks-links{
    flex-direction: column;
  }

  .cert_show{
    width: 80%;
    height: 60%;
  }
}
 
/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  .main-container{
    height: 100%;
  }
  .grid-container{
    grid-template-rows: repeat(10, auto);
    grid-template-areas: "i i i i i i i i"
                         "a a a a a a a a"
                         "a a a a a a a a"
                         "d d d d d d d d"
                         "c c c c c c c c"
                         "b b b b b b b b"
                         "e e e e e e e e"
                         "e e e e e e e e"
                         "g g g g h h h h"
                         "g g g g h h h h";
  }

  .about-section{
    background-position: -50%;
  }

  .proyects-section{
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }

  .cert_show{
    width: 80%;
    height: 70%;
  }
}
 
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  .grid-container{
    grid-template-rows: repeat(10, auto);
    grid-template-areas: "i i i i i i i i"
                         "a a a a a a a a"
                         "a a a a a a a a"
                         "d d d d d d d d"
                         "b b b b c c c c"
                         "b b b b c c c c"
                         "e e e e e e e e"
                         "e e e e e e e e"
                         "g g g g h h h h"
                         "g g g g h h h h";
  }

  .about-section{
    background-position: -50%;
  }

  .cert_show{
    width: 50%;
    height: 80%;
  }
}
 
/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  .grid-container{
    grid-template-rows: repeat(9, auto);
    grid-template-areas: "i i i i i i i i"
                         "a a a a h h h h"
                         "a a a a h h h h"
                         "d d d d d d d d"
                         "b b b b c c c c"
                         "b b b b c c c c"
                         "e e e e e e e e"
                         "e e e e e e e e"
                         "g g g g g g g g";
  }

  .cv-section{
    background-position: 50% 0;
  }
}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .main-container{
    height: 100vh;
  }

  .grid-container{
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "a a a b b c c c"
                         "a a a b b c c c"
                         "a a a e e e e e"
                         "a a a e e e e e"
                         "d d d e e e e e"
                         "g g g h h i i i"
                         "g g g h h i i i";
  }

  .about-section{
    background-position: 0;
  }

  .tech-icons {
    width: 80%;
    height: 80%;
  }
}
